<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buyer Charts </title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<style>
    .charts {
        margin-left: 50px;
        margin-bottom: 100px;
        margin-right: 50px;
    }
</style>

<body>
    <div class="charts">
        <canvas id="columnChart" width="800px" height="400px"></canvas>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var buyersData = /*[[${buyers}]]*/[];

        var labels = buyersData.map(function (buyer) {
            return buyer.first_name + ' ' + buyer.last_name;
        });
        var purchasesData = buyersData.map(function (buyer) {
            return buyer.total_purchases;
        });
        var quantityData = buyersData.map(function (buyer) {
            return buyer.total_quantity;
        });

        var ctx = document.getElementById('columnChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [
                    {
                        label: 'Total Purchases',
                        data: purchasesData,
                        backgroundColor: 'rgba(255, 99, 132, 0.5)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    },
                    {
                        label: 'Total Quantity',
                        data: quantityData,
                        backgroundColor: 'rgba(54, 162, 235, 0.5)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }
                ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        /*]]>*/
    </script>
</body>

</html>