<style>
    .btn-link .text {
        display: none;
    }

    .btn-link:hover .text {
        display: inline;
    }
</style>

<nav class="navbar p-2 bg-light d-flex justify-content-between">
    <div class="container-fluid">
        <p class="mx-3 btn btn-link"><a href="/admin/"><i class="bi bi-shop"></i><span class="text">Shop</span></a></p>
        <p class="mx-3 btn btn-link"><a href="/admin/buyer/"><i class="bi bi-people"></i><span
                    class="text">Buyers</span></a></p>
        <p class="mx-3 btn btn-link"><a href="/admin/product/"><i class="bi bi-stack"></i><span
                    class="text">Products</span></a></p>
        <p class="mx-3 btn btn-link"><a href="/admin/sales/"><i class="bi bi-cart"></i><span class="text">Go to
                    Sales</span></a></p>
        <div class="flex-grow-1"></div>
        <p class="btn btn-link"><a href="/logout"><i class="bi bi-box-arrow-right"></i><span
                    class="text">Logout</span></a>
        </p>
    </div>
</nav>