<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{fragments/head}"></th:block>

<head>
    <title>Product Dashboard</title>
</head>
<style>
    .container {
        display: flex;
        justify-content: space-between;
    }

    .centered-text {
        text-align: center;
    }

    .table-container {
        width: 48%;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>

<body>

    <th:block th:insert="~{fragments/sidebar}"></th:block>
    <div class="container-fluid">
        <h1 class="centered-text">Products Dashboard</h1>
        <p class="centered-text">
            <a href="/admin/product/new" class="btn btn-sm btn-primary">New Product</a>
        </p>
        <div class="container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${data.products}">
                        <td th:text="${product.product_id}"></td>
                        <td th:text="${product.productName}"></td>
                        <td th:text="${product.price}"></td>
                        <td th:text="${product.quantity}"></td>
                        <td>
                            <div class="btn-group">
                                <a th:href="'/admin/product/details/' + ${product.product_id}"
                                    class="btn btn-sm btn-primary">Details</a>
                                <a th:href="'/admin/product/edit/' + ${product.product_id}"
                                    class="btn btn-sm btn-warning">Edit</a>
                                <a th:href="'/admin/product/delete/' + ${product.product_id}"
                                    class="btn btn-sm btn-danger"
                                    onclick="return confirm ('Are you sure you want to delete this product?')">Delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <th:block th:insert="~{fragments/products_chart}"></th:block>
    </div>
    <div>
        <th:block th:insert="~{fragments/footer}"></th:block>
    </div>
</body>

</html>